<!--

<div id="page1" class="page-common">
    <img src="assets/images/page5.jpg" alt=""/>
    <img src="assets/images/page6.jpg" alt=""/>
    &lt;!&ndash;<video id="video1" muted src="assets/videos/1-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true"  poster=""></video>&ndash;&gt;
</div>
<div id="page2" class="page-common">
    <img src="assets/images/page5.jpg" alt=""/>
    <img src="assets/images/page6.jpg" alt=""/>
    &lt;!&ndash;<video id="video2" muted src="assets/videos/2-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>&ndash;&gt;
</div>
<div id="page3" class="page-common">
    <img src="assets/images/page5.jpg" alt=""/>
    <img src="assets/images/page6.jpg" alt=""/>
    &lt;!&ndash;<video id="video3" muted src="assets/videos/3-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>&ndash;&gt;
</div>
<div id="page4" class="page-common">
    <img src="assets/images/page5.jpg" alt=""/>
    <img src="assets/images/page6.jpg" alt=""/>
    &lt;!&ndash;<video id="video4" muted src="assets/videos/4-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>&ndash;&gt;
</div>-->
<div id="page1" class="page-common">
    <video id="video1" x5-video-player-type='h5'  x5-video-player-fullscreen='false' muted src="assets/videos/1-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>
    <video id="video2" x5-video-player-type='h5'  x5-video-player-fullscreen='false' muted src="assets/videos/2-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>
    <video id="video3" x5-video-player-type='h5'  x5-video-player-fullscreen='false' muted src="assets/videos/3-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>
    <video id="video4" x5-video-player-type='h5'  x5-video-player-fullscreen='false' muted src="assets/videos/4-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>
</div>