
<div id="page1" class="page-common">
    <video id="video1" src="assets/videos/1-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true"  poster=""></video>
</div>
<div id="page2" class="page-common">
    <video id="video2" src="assets/videos/2-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>
</div>
<div id="page3" class="page-common">
    <video id="video3" src="assets/videos/3-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>
</div>
<div id="page4" class="page-common">
    <video id="video4" src="assets/videos/4-1.mp4" preload="auto" playsinline="true" webkit-playsinline="true" poster=""></video>
</div>